includes:
    - 'vendor/staabm/phpstan-todo-by/extension.neon'

parameters:
    level: 9
    paths:
        - ./src
        - ./tests/phpunit
    excludePaths:
        - ./src/vendor/*
    checkExplicitMixed: false
    todo_by:
        nonIgnorable: true
        referenceTime: "now+7days"