includes:
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/staabm/phpstan-todo-by/extension.neon

parameters:
    level: 9
    paths:
        - ./src
        - ./tests/phpunit
    excludePaths:
        - ./src/vendor/*
    checkExplicitMixed: false
    disallowedFunctionCalls:
        - function: 'var_dump()'
          message: 'use some logger instead'
        - function: 'var_export()'
          message: 'use some logger instead'
        - function: 'dd()'
          message: 'use some logger instead'
        - function: 'print_r()'
          message: 'use some logger instead'
    todo_by:
        nonIgnorable: true
        referenceTime: "now+7days"